DEBUG=True
SECRET_KEY=django-insecure-change-me-to-something-random

DB_NAME=business_monitor
DB_USER=postgres
DB_PASSWORD=Avengers2015
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173
